Stopwatch {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

ShowtimeDisplay {
    content-align: center middle;
    text-opacity: 60%;
    height: 1;
}

Screen {
    align: center middle;
}

#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

AddFixtureScreen {
    align: center middle;
}

#dialog2 {
    width: 60;
    height: 30;
    grid-size: 2;
    grid-columns: 1fr 2fr;
    padding: 1;
    border: heavy yellow;
    background: $surface;
}

#dialog3 {
    width: 60;
    height: auto;
    min-height:10;
    grid-size: 2;
    grid-columns: 1fr 2fr;
    padding: 1;
    border: heavy yellow;
    background: $surface;
}
